.resimSlider {
    height: 700px;
}

body {
    padding-top: 50px;
 
 
}

.hakkimda {
    background-color: #f2f2f2;
}

.hakkimda.container.BELAL {
    border: none;
    border-top: 3px solid #310d7a;
    max-width: 250px;
    margin: 25px auto;
    color: black;
}

